* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border: 2px solid #ccc;
    margin-top: 10px;
    border-radius: 10px;
}

.todoInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.no {
    text-decoration: line-through;
}

.pagination {
    margin-top: 20px;
    display: flex;
    gap: 5px;
}

.pag {
    border: 2px solid #ccc;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}

.pag:hover {
    background: #eee;
}

.pag.active {
    color: red;
}